<div class="henrique">
  <img src="../../../assets/logo.svg" alt="logo do github">
  <div>
    <img src="../../../assets/arrow.png" alt="">
    <a routerLink="/">
      Voltar
    </a>
  </div>
</div>


<div class="repository-info">
  <div class="repository-header">
    <img src="{{repo.owner.avatar_url}}" alt="">
    <div>
      <strong>{{repo.full_name }}</strong>
      <p>{{ repo.description }}</p>
    </div>
  </div>
  <ul>
    <li>
      <strong>{{ repo.stargazers_count}}</strong>
      <span>Stars</span>
    </li>
    <li>
      <strong>{{ repo.forks_count}}</strong>
      <span>Forks</span>
    </li>
    <li>
      <strong>{{ repo.open_issues_count}}</strong>
      <span>Issues abertas</span>
    </li>
  </ul>
</div>


<div class="issues" *ngFor="let issue of issues">
  <a href={{issue.html_url}} target="blank">
    <div>
      <strong>{{ issue.title }}</strong>
      <p>{{ issue.user.login }}</p>
    </div>
  </a>
</div>
